* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: large;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
body{
    padding-top: 20px;
}
h1 {
    font-size: xx-large;
}

.flecha {
    height: 15%;
    width: 15%;
}

/*fpropiedad para poner en gris botones*/
.disabled {
    opacity: 0.6;
}

.btn {
    transition-duration: 0.4s;
    padding: 1%;
    border-radius: 50%;
    background-color: rgb(60, 219, 211);
}

.poke {
    width: 150px;
    height: 90px;
    display: flex;
    /* background-image: url(https://i.giphy.com/media/Ta1MVGKCG2GFq/giphy.webp); */
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 3px solid black;
    border-radius: 5px;
}
.poke:hover{
    background-color: white; 
        
}
.poke img{
    cursor:pointer;
    transition: 1s , 1s;
}
.poke img:hover{
    width: 100px;
    transition: 1s , 1s;
}
.lista-pokemones {
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    align-content: space-evenly;
    

}
.lista-pokemones div {
    width: 20%;
    height: 20%;

}
.lista-pokemones div figure{
    margin: 2px;
    width: 100%;
    height: 100%;
}
.lista-pokemones div figure figcaption{
    font-size: 15px;
    font-weight: bold;
    object-fit: cover;
}
.lista-pokemones div figure img{
    width: 85px;
    height:70px;
    object-fit: cover;
    
}
@media only screen and (max-width: 1215px) {
    .lista-pokemones div figure img{
        display: none;
        
    }
    .poke {
        justify-content: center;
        width: auto;
        height: auto;
        display: flex;
    }
    .poke:hover{
        width: auto;
        height: auto;
        transition:0s;
    }
    .poke img{
        display: none;
        transition: none;
    }
    .poke img:hover{
        display: none;
        transition: none;
    }
    #previous,#next{
        font-size: 15px;
    
    }
    .titulo{
        font-size: 20px;
    }
    #previous,#next:hover{
        background-color: white;
    
    }
    .lista-pokemones div figure figcaption{
        font-size: 10px;
        font-weight: bold;
        object-fit: cover;
    }
    
}
@media only screen and (min-width: 1215px) and (max-width: 1328px) {
    .lista-pokemones div figure img{
        width: 100px;
        height:130px;
    object-fit: cover;
        
    }
    
}
/* @media only screen and (min-width: 1328px) and (max-width: 2000px) {
    .lista-pokemones div figure img{
        width: 120px;
        height:150px;
    object-fit: cover;
        
    }
} */


.datos {
    padding: 7px;
    background-color: rgb(0, 0, 0);
    height:100%;
    height: 545px;
    display: flex;
    flex-direction: column;
    
}
@media only screen and (max-width: 1215px) {
    .datos{
        height: auto;
    }
}

.nombre {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
}

#nombre {
    font-size: 25px;
}

.imagen {
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: darkred;
}

.evoluciones {
}

#img {
    padding: 10px;
    border: 5px solid #000000;
    border-radius: 50%;
    height: 150px;
    width: 15vw;
    object-fit: scale-down;
    background-image: url(https://i.giphy.com/media/13USt1URETlUFG/giphy.webp);
}
@media only screen and (max-width: 1215px) {
    #img{
        width: 100px;
        height: 100px;
        object-fit: cover;
    }
}

.habilidades {
    height: 430px;
    background-color:blue;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-content: center;
    
}
@media only screen and (max-width: 1215px) {
       .habilidades{
           width: auto;
           flex-wrap: nowrap;
           flex-direction:column;
       }
}

/*cabecera*/

.cabezera {
    border: 2px solid white;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.titulo {
    
}

.elem-dato {
    border: 2px solid black;
    align-items: center;
    text-align: center;
    justify-content: center;
    display: flex;
    color: white;
    border-radius: 5px;
    padding: 5px;
    margin: 1px;
    flex-direction: column;
    width: 49%;

}
@media only screen and (max-width: 1215px) {
    .elem-dato{
        margin: 0px;
        width: auto;
        flex-direction:column;
    }
}

#Cuerpo{
    height: 150%;

    display: flex;
    flex-direction: row;
}
.pokeContainer{
    padding: 10px;
    border:1px solid white;
    width: 100%;
    height: auto;
    

}
@media only screen and (max-width: 1215px) {
    .pokeContainer{
        display: flex;
        height: auto;
        flex-wrap: nowrap;
        flex-direction:column;
    }
}
.habContainer{
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: stretch;
    
    
}
.habContainer p{
    font-size: 15px;
    width: 45%;
    height: 10%;
}
.divListaPoke{
    height: 545px;
    padding-top:5px;
    border: 1px solid white;
}

#previous,#next{
    border: 1px solid black;
}

#previous:hover{
    background-color: white;

}
#next:hover{
    background-color: white;
}

.titulo{
    color:white;
}
.contenedorGeneral{
    height: 40%;
}